= render 'pages/about/hero'
= render 'pages/about/company_overview'
= render 'pages/about/mission_vision_values'
= render 'pages/about/why_choose_us'
= render 'pages/about/statistics'
= render 'pages/about/founder_story'
= render 'pages/about/team'
= render 'pages/about/certifications'
= render 'pages/about/cta'
