- content_for :meta_description, "Expert pest control in Lebanon. Al-Hadika protects homes and businesses from bed bugs, rodents, termites, roaches and more. Free inspection and 24/7 emergency service."

= render "pages/home/hero_slideshow"
= render "pages/home/service_modal"
= render "pages/home/how_it_works"
= render "pages/home/featured_services"
= render "pages/home/why_choose_us"
= render "pages/home/stats_banner"
= render "pages/home/google_reviews"
= render "pages/home/cta_section"